<section class="content-header" >
  <!-- <h3><strong>Login</strong>page</h3> -->
</section>
<section class="content">
    <div class="row">
      <form name="loginForm" ng-submit="resetPassword()">
        <div class="col-sm-4 col-sm-offset-4">
          <div class="box box-primary">
            <div class="login-box-body">
              <h1 class="login-box-msg">Forgot Password</h1>
                <div class="form-group has-feedback" ng-class="{has-error:loginForm.mobile.$error.required && loginForm.mobile.$touched}">
                  <label class="">Mobile*</label>
                  <input type="text" class="form-control" name="mobile" ng-model="contactNbr" placeholder="Mobile" required>
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                  <span class="help-block" ng-show="loginForm.mobile.$error.required && loginForm.mobile.$touched">Enter Mobile no.</span>
                </div>
                <div class="form-group has-feedback">
                  <a ui-sref="login" class="a-bold">Go to Login</a>
                </div>
                <div class="col-xm-1">
                  <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="preresetpwd(contactNbr)" >Continue</button>
                </div>
            </div>
          </div>
        </div>

      </form>
    </div>
</section>
