<div class="modal-info">
  <form class="form-horizontal" name="addReferralForm">
    <div class="modal-header">
      <h3 class="modal-title">Add Referral:</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <label class="text-left control-label col-sm-4 col-md-offset-1">Employee Id *</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="id" ng-model="referral.id" required>
          <span class="help-block ng-invalid" ng-show="addReferralForm.id.$error.required && addReferralForm.id.$touched">Enter Employee Id.</span>
        </div>
      </div>
      <div class="row">
        <label class="text-left control-label col-sm-4 col-md-offset-1">Employee Name *</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="name" ng-model="referral.name" required>
          <span class="help-block" ng-show="addReferralForm.name.$error.required && addReferralForm.name.$touched">Enter Employee Name .</span>
        </div>
      </div>
      <div class="row">
        <label class="text-left control-label col-sm-4 col-md-offset-1">Referral Code *</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="refCode" ng-model="referral.refCode" required>
          <span class="help-block" ng-show="addReferralForm.refCode.$error.required && addReferralForm.refCode.$touched">Enter Referral Code.</span>
        </div>
      </div>




    </div>
    <div class="modal-footer">
      <button class="btn btn-warning pull-left" type="button" ng-click="cancel()">Back</button>
      <button class="btn btn-success pull-right" type="button" ng-disabled="addReferralForm.$invalid" ng-click="addReferral(referral)">Add</button>
    </div>
  </form>
</div>
