<div class="modal-info">
    <form class="form-horizontal" name="changePasswordForm">
        <div class="modal-header">
            <h3 class="modal-title">Change Password:</h3>
        </div>
        <div class="modal-body">
            <div class="row">
              <label class="text-left control-label col-sm-4 col-md-offset-1">Old Password *</label>
              <div class="col-sm-6">
                  <input type="password" class="form-control" name="oldPassword"  ng-model="password.password" required>
                  <span class="help-block" ng-show="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$touched">Enter old Password.</span>
              </div>
            </div>

            <div class="row">
                <label class="text-left control-label col-sm-4 col-md-offset-1">New Password *</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="newPassword"  ng-model="password.newPassword" ng-pattern="/^(?=.*?[a-zA-Z0-9])(?=.*?[#?!@$%^&*-]).{4,}$/" required>
                    <span class="help-block" ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$touched">Enter new Password.</span>
                    <span class="help-block" ng-show="!changePasswordForm.newPassword.$pristine && changePasswordForm.newPassword.$error.pattern">
                        Password must be 4 characters long having atleast one special character.</span>
                </div>
              </div>

              <div class="row">
                <label class="text-left control-label col-sm-4 col-md-offset-1">Confirm Password *</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="confirmPassword" ng-model="password.confirmPassword"  ng-change="checkPassword(password.newPassword,password.confirmPassword)" required >
                    <span class="help-block" ng-show="changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$touched">Please confirm Password.</span>
                    <span class="help-block" ng-show="showPasswordMisMatch && !changePasswordForm.confirmPassword.$pristine">Password doesn't match</span> 
                </div>
              </div>

            
           

        </div>
        <div class="modal-footer">
                <button class="btn btn-warning pull-left" type="button" ng-click="cancel()">Back</button>
                <button class="btn btn-success pull-right" type="button" ng-disabled="changePasswordForm.$invalid || showPasswordMisMatch" ng-click="change()">Change</button>
        </div>
    </form>
</div>
