<div class="modal-primary" >
    <form class="form-horizontal" name="feedbackForm">
        <div class="modal-header">
            <h3 class="modal-title">Take Feedback</h3>
        </div>
        <div class="modal-body " >
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group p-l-20">
                        
                        <div class="col-xs-8 col-md-offset-4" star-rating ng-model="feedback.rating" max="05" on-rating-select="rateFunction(rating)"></div>
                    </div>
                   

                    <div class="form-group p-l-20" >
                        <label for="uname" class="control-label col-sm-4"> Comment *</label>
                       
                        <div class="col-xs-8">
                            <textarea class="form-control" ng-model="feedback.comments" placeholder="Give comment" required></textarea>
                            
                            <!-- <span class="help-block" ng-show="newOrder.vehicle.$error.required && newOrder.vehicle.$touched">Choose a vehicle.</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <button class="btn btn-warning pull-left" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary pull-right" type="button"  ng-click="ok()">Submit</button>

        </div>
    </form>
</div>
