<section class="content-header" >
    <!-- <h3><strong>Login</strong>page</h3> -->
  </section>


<section class="content">
    <div class="row">
      <form name="changePasswordForm" novalidate>
        <div class="col-sm-6 col-sm-offset-3">
          <div class="box box-primary">
            <div class="login-box-body">
              <h1 class="login-box-msg">Change Password</h1>
                <div class="form-group has-feedback" ng-class="{'has-error':changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$touched}">
                    <label class="">Old Password *</label>
                    <input type="password" class="form-control" placeholder="Old Password" name="oldPassword"  ng-model="password.password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span class="help-block" ng-show="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$touched">Enter old Password.</span>
                </div>
                <div class="form-group has-feedback" ng-class="{'has-error':(!changePasswordForm.newPassword.$pristine && changePasswordForm.newPassword.$error.pattern)||
                            (changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$touched)}">
                    <label class=""> New password*</label>
                    <input type="password" class="form-control" name="newPassword" placeholder="New Password"  ng-model="password.newPassword" ng-pattern="/^(?=.*?[a-zA-Z0-9])(?=.*?[#?!@$%^&*-]).{4,}$/" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span class="help-block" ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$touched">Enter new Password.</span>
                    <span class="help-block" ng-show="!changePasswordForm.newPassword.$pristine && changePasswordForm.newPassword.$error.pattern">
                      Password must be 4 characters long having atleast one special character.</span>
                </div>
                <div class="form-group has-feedback" ng-class="{'has-error':(changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$touched) 
                                        ||(showPasswordMisMatch && !changePasswordForm.confirmPassword.$pristine)}">
                    <label class="">Confirm Password*</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" ng-model="password.confirmPassword"  ng-change="checkPassword(password.newPassword,password.confirmPassword)" required >
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    
                    <span class="help-block" ng-show="changePasswordForm.confirmPassword.$error.required && changePasswordForm.confirmPassword.$touched">Please confirm Password.</span>
                    <span class="help-block" ng-show="showPasswordMisMatch && !changePasswordForm.confirmPassword.$pristine">Password doesn't match</span> 
                </div>
               
                <div class="col-xm-1">
                    <button type="submit" class="btn btn-primary btn-block btn-flat"  ng-disabled="changePasswordForm.$invalid || showPasswordMisMatch" ng-click="change()" >Change Password</button>
                </div>
            </div>
          </div>
        </div>

      </form>
    </div>
</section>