<section class="content-header">
    <div class="row">
        <h3 class=" col-md-3 col-md-offset-1">
            Office Details
        </h3>
        <!-- <button type="button"  class="btn btn-primary pull-right" ng-click="newOfcDetails()">
            <i class="fa fa-plus"></i> Add new Office Details
        </button> -->
        
    </div>
</section>
<br>
<section class="content" ng-init="showOfcDetails()">
    <div class="row" >
        <div class="col-sm-10 col-md-offset-1"  >
        <div class="box box-info">
        <form name="addressForm">
            <div class="row">
                <div class="col-sm-8 col-md-offset-1">
                    <h3>Company Name:-</h3>
                    <div class="form-group">
                        <input type="text" class="form-control " placeholder="Company Name" ng-model="ofcDetails.companyName">
                    </div>
                    <label>GST In</label>
                    <div class="form-group">
                        <input type="text" class="form-control " placeholder="GST in" ng-model="ofcDetails.gstin">
                    </div>
                    <br>
                </div>
            </div>
        <div class="row">
        <div class="col-sm-10 col-md-offset-1">
        
        <div class="box box-success ">
                <div class="box-header with-border">
                    <h3 class="box-title">Adress:</h3>
                </div>
                <div class="box-body">
                
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.houseNo.$touched && addressForm.houseNo.$invalid}">
                            <label>House no.</label>
                            <input type="text" class="form-control" placeholder="House No " name="houseNo" ng-model="ofcDetails.address.houseNbr" >
                            <span class="help-block" ng-show="addressForm.houseNo.$error.required && addressForm.houseNo.$touched"> cannot be empty</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.appartment.$touched && addressForm.appartment.$invalid}">
                            <label>Appartment Name.</label>
                            <input type="text" class="form-control" placeholder="Appartment No " name="appartment" ng-model="ofcDetails.address.apartmentName" >
                            <span class="help-block" ng-show="addressForm.appartment.$error.required && appartment.houseNo.$touched"> cannot be empty</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.street.$error.pattern && !addressForm.street.$pristine}">
                            <label>Street</label>
                            <input type="text" class="form-control" placeholder="Street " name="street" ng-model="ofcDetails.address.street" ng-pattern="/^[a-zA-Z ]*$/" >
                            <span class="help-block" ng-show="addressForm.street.$error.required && addressForm.street.$touched"> cannot be empty</span>
                            <span class="help-block" ng-show="addressForm.street.$error.pattern && !addressForm.street.$pristine">Please Enter a Valid Locality(Only Alphabets Allowed)</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.locality.$error.pattern && !addressForm.locality.$pristine}">
                            <label>Locality</label>
                            <input type="text" class="form-control" placeholder="Locality " name="locality" ng-model="ofcDetails.address.locality" ng-pattern="/^[a-zA-Z ]*$/" >
                            <span class="help-block" ng-show="addressForm.locality.$error.required && addressForm.locality.$touched"> cannot be empty</span>
                            <span class="help-block" ng-show="addressForm.locality.$error.pattern && !addressForm.locality.$pristine">Please Enter a Valid Locality(Only Alphabets Allowed)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.city.$error.pattern && !addressForm.city.$pristine}">
                            <label>City</label>
                            <input type="text" class="form-control" placeholder="City" name="city" ng-model="ofcDetails.address.city" ng-pattern="/^[a-zA-Z ]*$/" >
                            <span class="help-block" ng-show="addressForm.city.$error.required && addressForm.city.$touched"> cannot be empty</span>
                            <span class="help-block" ng-show="addressForm.city.$error.pattern && !addressForm.city.$pristine">Please Enter a Valid City(Only Alphabets Allowed)</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.po_ps.$error.pattern && !addressForm.po_ps.$pristine}">
                            <label>Po_Ps_Name</label>
                            <input type="text" class="form-control" placeholder="PO_ps_name" name="po_ps" ng-model="ofcDetails.address.po_ps_name" ng-pattern="/^[a-zA-Z ]*$/" >
                            <span class="help-block" ng-show="addressForm.po_ps.$error.required && addressForm.po_ps.$touched"> cannot be empty</span>
                            <span class="help-block" ng-show="addressForm.po_ps.$error.pattern && !addressForm.po_ps.$pristine">Please Enter a Valid City(Only Alphabets Allowed)</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.state.$touched && addressForm.state.$invalid}" ng-init="getAllStates()">
                            <label>State</label>
                            
                            <select class="form-control" name="state" ng-model="ofcDetails.address.state" required ng-change="getDistrict(ofcDetails.address.state)">
                                <option value="">Choose State*</option>
                                <option value="{{state.stateCd}}" ng-repeat="state in stateList">{{state.stateCd}}</option>
                            </select>

                            <span class="help-block" ng-show="addressForm.state.$error.required && addressForm.state.$touched"> cannot be empty</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.district.$touched && addressForm.district.$invalid}"  >
                            <label>District</label>
                          
                            <select class="form-control " name="district" ng-model="ofcDetails.address.district" required>
                                    <option value="">Choose District *</option>
                                    <option value="{{districts}}" ng-repeat="districts in districtList track by $index">{{districts}}</option>
                                </select>
                            <span class="help-block" ng-show="addressForm.district.$error.required && addressForm.district.$touched"> cannot be empty</span>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.stateCd.$error.pattern && !addressForm.stateCd.$pristine}">
                            <label>State Code</label>
                            <input type="text" class="form-control" placeholder="State Code" name="stateCd" ng-model="ofcDetails.address.stateCd"  >
                            
                            <span class="help-block" ng-show="addressForm.stateCd.$error.pattern && !addressForm.stateCd.$pristine">Please Enter a Valid State Code(Only Alphabets Allowed)</span>
                            <span class="help-block" ng-show="addressForm.stateCd.$error.required && addressForm.stateCd.$touched"> cannot be empty</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.country.$error.pattern && !addressForm.country.$pristine}">
                            <label>Country</label>
                            <input type="text" class="form-control" placeholder="Country" name="country" ng-model="ofcDetails.address.country" ng-pattern="/^[a-zA-Z ]*$/" >
                            
                            <span class="help-block" ng-show="addressForm.country.$error.pattern && !addressForm.country.$pristine">Please Enter a Valid Country(Only Alphabets Allowed)</span>
                            <span class="help-block" ng-show="addressForm.country.$error.required && addressForm.country.$touched"> cannot be empty</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.zip.$error.pattern && !addressForm.zip.$pristine}">
                            <label>Zip</label>
                            <input type="text" class="form-control" placeholder="000000" name="zip" ng-model="ofcDetails.address.zip"  ng-pattern="/^(0|[1-9][0-9]{5})$/">
                            <span class="help-block" ng-show="addressForm.pin.$error.required && addressForm.pin.$touched">Please Enter Pin</span>
                            <span class="help-block" ng-show="addressForm.zip.$error.pattern && !addressForm.zip.$pristine">Only Numeric value is allowed.(6 digit)</span>
                        </div>
                       
                    </div>
                
                </div>
            </div>
            <div class="box box-success ">
                <div class="box-header with-border">
                    <h3 class="box-title">Bank Details:</h3>
                </div>
                <div class="box-body">
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.accountNo.$error.pattern && !addressForm.accountNo.$pristine}">
                            <label>Account no.</label>
                            <input type="text" class="form-control" placeholder="Account No " name="accountNo" ng-model="ofcDetails.bankdetails.account" ng-pattern="/^(0|[0-9]*)$/" >
                            <span class="help-block" ng-show="addressForm.accountNo.$error.required && addressForm.accountNo.$touched"> cannot be empty</span>
                            <span class="help-block" ng-show="addressForm.accountNo.$error.pattern && !addressForm.accountNo.$pristine">Only Numeric value is allowed.</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.bankname.$error.pattern && !addressForm.bankname.$pristine}">
                            <label>Bank Name</label>
                            <input type="text" class="form-control" placeholder="Bank Name " name="bankname" ng-model="ofcDetails.bankdetails.bankName" ng-pattern="/^[a-zA-Z ]*$/" >
                            <span class="help-block" ng-show="addressForm.bankname.$error.required && addressForm.bankname.$touched"> cannot be empty</span>
                            <span class="help-block" ng-show="addressForm.bankname.$error.pattern && !addressForm.bankname.$pristine">Only Alphabets value is allowed.</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.branch.$error.pattern && !addressForm.branch.$pristine}">
                            <label>Branch Name</label>
                            <input type="text" class="form-control" placeholder="Branch Name " name="branch" ng-model="ofcDetails.bankdetails.branchName" ng-pattern="/^[a-zA-Z ]*$/" >
                            <span class="help-block" ng-show="addressForm.branch.$error.required && addressForm.branch.$touched"> cannot be empty</span>
                            <span class="help-block" ng-show="addressForm.branch.$error.pattern && !addressForm.branch.$pristine">Only Alphabets value is allowed.</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':addressForm.ifsc.$touched && addressForm.ifsc.$invalid}">
                            <label>IFSC no.</label>
                            <input type="text" class="form-control" placeholder="IFSC No " name="ifsc" ng-model="ofcDetails.bankdetails.ifsc" >
                            <span class="help-block" ng-show="addressForm.ifsc.$error.required && addressForm.ifsc.$touched"> cannot be empty</span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-info pull-right" ng-click="updateOfficeAddress()">Update</button><br>
            </div>
            </div>
        </form>
        </div>
        </div>
    </div>
</section>