<section class="content-header m-b-40" ng-init="getReferral()">
    <h1>
      Referral list

    </h1>
    <button type="button"  class="btn btn-primary pull-right" ng-click="createReferral()">
        <i class="fa fa-plus"></i> Add Referral
      </button>

</section>
<section  >
  <div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <div class="box box-info">
          <div class="box-body over-x-sc">
            <div class="table-responsive">
                <table ng-table="referralList" class="table table-bordered table-hover userData table-t-a-c">
                    <tr ng-repeat="row in $data" style="text-align:left">
                        <!-- <td data-title="'Sl No'" >{{ $index + 1}}</td> -->
                        <td data-title="' id'" filter="{ 'id': 'text'}" sortable="'id'">{{row.id}}</td>
                        <td data-title="' name '" filter="{ 'name': 'text'}" sortable="'name'">{{row.name}}</td>
                        <td data-title="' refCode'" filter="{ 'refCode': 'text'}" sortable="'refCode'">{{row.refCode}}</td>

                        <!-- <td data-title="' No of vehicles'" sortable="'Email'">{{row.userVehicles.length}}</td> -->
                        <td data-title="'Action'">
                            <div class="btn-group">
                                 <button type="button" class="btn btn-primary" ng-click="onUpdateReferral(row)" >View/Edit
                                 </button>
                             </div>
                             <div class="btn-group">
                                 <button type="button" class="btn btn-danger" ng-click="onDeleteReferral(row)">Delete
                                 </button>
                             </div>
                             <!-- <div class="btn-group">
                                <button type="button" class="btn btn-info"><a href="" class="option-btn" ng-click="">Order/Cart</a>
                                </button>
                            </div> -->

                           </td>
                    </tr>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>















<!-- Modal section ends -->
