<section class="content-header m-b-40">
  <h1>
    Request ''{{orderDetails.orderId}}'' Details

    </h1>
</section>
<section class="content" ng-init="getOrderdetailsById()">
  <div class="row">
    <div class="col-sm-10 col-md-offset-1">
      <!-- Order information -->
      <div class="box box-info ">
        <div class="box-header with-border">
          <h3 class="box-title">Basic Details</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-sm-3">
                <label class=" text-left control-label">User Name:</label>
                <input type="text" class="form-control" placeholder="User Name" ng-model="orderDetails.userName" readonly>
            </div>
            <div class="col-sm-3">
                <label class=" text-left control-label">Contact No.:</label>
                <input type="text" class="form-control" placeholder="contact no." ng-model="orderDetails.contactNbr" readonly>
            </div>
            <!-- <div class="col-sm-3">
                <label class=" text-left control-label">User Id:</label>
                <input type="text" class="form-control" placeholder="User Id" ng-model="orderDetails.userId" readonly>
            </div> -->
            <div class="col-sm-3">
              <label class=" text-left control-label">Order Id:</label>
              <input type="text" class="form-control" placeholder="Order Id" ng-model="orderDetails.orderId" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Total Price:</label>
              <input type="text" class="form-control" placeholder="Total Price" ng-model="orderDetails.totalPrice" readonly>
            </div>

          </div>

        </div>
      </div>

      <!-- product details -->
      <div class="box box-info ">
        <div class="box-header with-border">
          <h3 class="box-title">Product Details</h3>
        </div>
        <div class="box-body">
          <!-- <div class="row" ng-if="orderDetails.produtType == 'EMERGENCY' ">
            <div class="col-sm-3" ng-init="getLocationDetails()">
              <label class=" text-left control-label">Location:</label>
              <input type="text" class="form-control" placeholder="Location" ng-model="orderDetails.locationDetails" readonly>
            </div>
            <div class="col-md-1 col-sm-1"><i class="fa fa-fw fa-map-marker fa-2x marker" ng-click="openMap()"></i></div>
            <div class="col-sm-3">
              <label class=" text-left control-label">UserId:</label>
              <input type="text" class="form-control" placeholder="Product Type" ng-model="orderDetails.orderDtls[0].product.userId" readonly>
            </div>
          </div> -->
          <div class="row">
              <div class="col-sm-3">
                <label class=" text-left control-label">Product Type:</label>
                <input type="text" class="form-control" placeholder="Product Type" ng-model="orderDetails.produtType" readonly>
              </div>
              <div class="col-sm-3">
                <label class=" text-left control-label">Service Date:</label>
                <input type="text" class="form-control" placeholder="Service Date" ng-model="orderDetails.serviceDate" readonly>
              </div>
              <div class="col-sm-3">
                <label class=" text-left control-label">Requested Status:</label>
                <input type="text" class="form-control" placeholder="Requested Status" ng-model="orderDetails.requestStatus" readonly>
              </div>
              <div class="col-sm-3">
                <label class=" text-left control-label">Use User Scheme:</label>
                <input type="text" class="form-control" placeholder="Use User Scheme" ng-model="orderDetails.orderDtls[0].product.useUserScheme" readonly>
              </div>
          </div>


          <div class="row" ng-if="orderDetails.produtType == 'SCHEME' ">
            <div class="col-sm-3">
              <label class=" text-left control-label">Scheme Id:</label>
              <input type="text" class="form-control" ng-model="orderDetails.orderDtls[0].product.schemeId" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Scheme Type:</label>
              <input type="text" class="form-control" ng-model="orderDetails.orderDtls[0].product.schemeType" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Description:</label>
              <input type="text" class="form-control" ng-model="orderDetails.orderDtls[0].product.description" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Duration In Days:</label>
              <input type="text" class="form-control" ng-model="orderDetails.orderDtls[0].product.durationInDays" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Discount On Consumable:</label>
              <input type="text" class="form-control" ng-model="orderDetails.orderDtls[0].product.discountOnConsumable" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Discount On Labour:</label>
              <input type="text" class="form-control" ng-model="orderDetails.orderDtls[0].product.discountOnLabour" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Discount On Spare Part:</label>
              <input type="text" class="form-control" ng-model="orderDetails.orderDtls[0].product.discountOnSparePart" readonly>
            </div>

          </div>

        </div>
      </div>


      <!-- order details array -->
      <div class="box box-success ">
        <div class="box-header with-border">
          <h3 class="box-title">Requset details</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <uib-tabset active="active" class="p-10">
              <uib-tab index="$index" ng-repeat="orderDtls in orderDetails.orderDtls" heading="{{'Order '+($index+1)}}">
                <!-- transaction details loop in order details -->
                <div class="row">
                  <div class="col-md-3">
                    <label class=" text-left control-label">Transaction Status</label>
                    <input type="text" class="form-control" ng-model="orderDtls.transactionStatus" readonly>
                  </div>
                  <div class="col-md-3">
                    <label class=" text-left control-label">Transaction Mode</label>
                    <input type="text" class="form-control" ng-model="orderDtls.transactionMode" readonly>
                  </div>
                  <div class="col-md-3">
                    <label class=" text-left control-label">Transaction Date</label>
                    <input type="text" class="form-control" ng-model="orderDtls.transactionDate" readonly>
                  </div>
                  <div class="col-md-3">
                    <label class=" text-left control-label">Transaction Id</label>
                    <input type="text" class="form-control" ng-model="orderDtls.transactionId" readonly>
                  </div>
                  <div class="col-md-3">
                    <label class=" text-left control-label">Calculated Price</label>
                    <input type="text" class="form-control" ng-model="orderDtls.calculatedPrice" readonly>
                  </div>
                </div>
                <hr/>
                <!-- services loop in order details -->
                <div class="row p-15" ng-if="orderDetails.produtType == 'SERVICE' ">
                  <div ng-repeat="service in orderDtls.product.services">
                   <div class="row">
                    <div class="col-md-3">
                      <label class=" text-left control-label">Service</label>
                      <input type="text" class="form-control" ng-model="service.subCategory" readonly>
                    </div>
                    <div class="col-md-3">
                      <label class=" text-left control-label">price</label>
                      <input type="text" class="form-control"ng-value="{{service.price[orderDetails.orderDtls[0].product.usrVehicle.vehicle.type]}}">
                        <!-- <input type="text" class="form-control"   ng-model="service.price.small" readonly> -->
                     </div>
                  <div class="col-md-2" ng-class="{'has-success':service.freeApplied}">
                      <label class=" text-left control-label">Free Applied</label>
                      <input type="text" class="form-control" ng-model="service.freeApplied ? 'Yes' : 'No'" readonly >
                  </div>
                  <div class="col-md-2">
                    <label class=" text-left control-label">Quantity</label>
                    <input type="text" class="form-control" ng-model="service.quantity" readonly>
                  </div>
                  <div class="col-md-1" ng-if="(orderDetails.requestStatus == 'WIP') && (orderDtls.transactionMode=='COD')">
                      <!-- <label class=" text-left control-label">category</label> -->
                      <!-- <input type="text" class="form-control" ng-model="service.category" readonly> -->
                      <br>
                      <button type="button" class="btn btn-info" ng-click="removeServiceFromOrder(orderDtls.id,$index,service.subCategory)">Remove</button>
                    </div>
                </div>
                </div>
                </div>
                <!-- services loop in order details -->
                <div class="row p-15" ng-if="orderDetails.produtType == 'EMERGENCY' ">
                  <div ng-repeat="service in orderDtls.product.services">
                    <div class="row">
                     <div class="col-md-3">
                       <label class=" text-left control-label">Service</label>
                       <input type="text" class="form-control" ng-model="service.subCategory" readonly>
                     </div>
                     <div class="col-md-3">
                       <label class=" text-left control-label">price</label>
                       <input type="text" class="form-control"ng-value="{{service.price[orderDetails.orderDtls[0].product.usrVehicle.vehicle.type]}}">
                         <!-- <input type="text" class="form-control"   ng-model="service.price.small" readonly> -->
                      </div>
                   <div class="col-md-2" ng-class="{'has-success':service.freeApplied}">
                       <label class=" text-left control-label">Free Applied</label>
                       <input type="text" class="form-control" ng-model="service.freeApplied ? 'Yes' : 'No'" readonly >
                   </div>
                   <div class="col-md-2">
                     <label class=" text-left control-label">Quantity</label>
                     <input type="text" class="form-control" ng-model="service.quantity" readonly>
                   </div>
                   <div class="col-md-1" ng-if="(orderDetails.requestStatus == 'WIP') && (orderDtls.transactionMode=='COD')">
                       <!-- <label class=" text-left control-label">category</label> -->
                       <!-- <input type="text" class="form-control" ng-model="service.category" readonly> -->
                       <br>
                       <button type="button" class="btn btn-info" ng-click="removeServiceFromOrder()">Remove</button>
                     </div>
                 </div>
                 </div>
                </div>

                <!-- scheme loop in order details -->
                <div class="row" ng-if="orderDetails.produtType == 'SCHEME' ">
                  <div class="row  p-15" ng-repeat="scheme in orderDtls.product.schemeServiceDtls">
                      <div class="col-md-3" >
                    <label class=" text-left control-label">Service Desc</label>
                    <input type="text" class="form-control" ng-model="scheme.serviceDesc" readonly>
                  </div>

                  <div class="col-md-3" >
                    <label class=" text-left control-label">Free Usage</label>
                    <input type="text" class="form-control" ng-model="scheme.freeUsage" readonly>
                  </div>

                  <div class="col-md-3" >
                    <label class=" text-left control-label">Used</label>
                    <input type="text" class="form-control" ng-model="scheme.used" readonly>
                  </div>

                  </div>
                </div>
              </uib-tab>

            </uib-tabset>
          </div>
        </div>
      </div>


      <div class="box box-success " >
        <div class="box-header with-border">
          <h3 class="box-title">Vehicle Details</h3>
        </div>
        <!-- auto fills vehicle data -->
        <div class="box-body" ng-if="orderDetails.hasVehicleData">
          <div class="row">
            <div class="col-sm-3">
              <label class=" text-left control-label">Make:</label>
              <input type="text" class="form-control" placeholder="Make" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle.make" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Model:</label>
              <input type="text" class="form-control" placeholder="Model" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle.models" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Type:</label>
              <input type="text" class="form-control" placeholder="Type" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle.type" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Subtype:</label>
              <input type="text" class="form-control" placeholder="Subtype" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle.subType" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Wheels:</label>
              <input type="text" class="form-control" placeholder="Wheels" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle.wheels" readonly>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label class=" text-left control-label">Model Version:</label>
              <input type="text" class="form-control" placeholder="Model Version" ng-model="orderDetails.orderDtls[0].product.usrVehicle.modelVersion" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Regd. No.:</label>
              <input type="text" class="form-control" placeholder="Regd. No" ng-model="orderDetails.orderDtls[0].product.usrVehicle.registrationNumber" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Variant:</label>
              <input type="text" class="form-control" placeholder="Variant" ng-model="orderDetails.orderDtls[0].product.usrVehicle.variant" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Manufacturing Year:</label>
              <input type="text" class="form-control" placeholder="Manufacturing Year" ng-model="orderDetails.orderDtls[0].product.usrVehicle.mfgYear" readonly>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label class=" text-left control-label">Cubic Capacity:</label>
              <input type="text" class="form-control" placeholder="Cubic Capacity" ng-model="orderDetails.orderDtls[0].product.usrVehicle.cubicCapacity" readonly>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Insurane Valid:{{orderDetails.orderDtls[0].product.usrVehicle.insuranceValid}}</label>
              <!-- <input type="text" class="form-control" placeholder="Insurance Valid" ng-model="orderDetails.orderDtls[0].product.usrVehicle.insuranceValid" readonly> -->
              <!-- <select class="form-control" ng-model="orderDetails.orderDtls[0].product.usrVehicle.insuranceValid" >
                  <option >true</option>
                  <option >false</option>
              </select> -->
              <select class="form-control" ng-model="orderDetails.orderDtls[0].product.usrVehicle.insuranceValid" ng-options="insuranceValid.key as insuranceValid.value for insuranceValid in orderDetails.insuranceValidArr" readonly ng-disabled="true"/>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Insurance Type:</label>
              <!-- <input type="text" class="form-control" placeholder="Insurance Type" ng-model="orderDetails.orderDtls[0].product.usrVehicle.insuranceType" readonly> -->
              <select class="form-control" ng-model="orderDetails.orderDtls[0].product.usrVehicle.insuranceType" ng-options="insurance as insurance for insurance in orderDetails.insuranceTypeArr" readonly ng-disabled="true"/>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Expiry Date:</label>
              <input type="text" class="form-control" placeholder="Expiry Date" ng-model="orderDetails.orderDtls[0].product.usrVehicle.expiryDate" readonly>
            </div>
          </div>

        </div>
        <!-- Input type to add vehicle details  , shows for emergency ticket-->
        <div class="box-body" ng-if="!orderDetails.hasVehicleData">
          <form name="addVehicle">
          <div class="row">
            <div class="col-sm-3" ng-class="{'has-error':addVehicle.make.$error.required && addVehicle.make.$touched}">
              <label class=" text-left control-label">Make: *</label>
              <!-- <input type="text" class="form-control" placeholder="Make" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle.make" readonly> -->
              <select class="form-control" name="make" ng-model="orderDetails.selectedVehicle"
                        ng-options="vehicle as vehicle.make for vehicle in orderDetails.vehicles"  required>
                        <option value=""><i class="fa fa-sort-desc">Vehicle Manufacturer</i></option>
              </select>
              <span class="help-block" ng-show="addVehicle.make.$error.required && addVehicle.make.$touched">Choose a Manufacturer</span>
            </div>
            <div class="col-sm-3" ng-class="{'has-error':addVehicle.model.$error.required && addVehicle.model.$touched}">
              <label class=" text-left control-label">Model: *</label>
              <!-- <input type="text" class="form-control" placeholder="Model" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle" readonly> -->
              <select class="form-control" name="model" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle" ng-options="models as models.models for models in orderDetails.selectedVehicle.vehicles"  required>
                <option value=""><i class="fa fa-sort-desc">Model</i></option>

              </select>
              <span class="help-block" ng-show="addVehicle.model.$error.required && addVehicle.model.$touched">Choose a model</span>
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Type:</label>
              <input type="text" class="form-control" placeholder="Type" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle.type" readonly >
            </div>
            <div class="col-sm-3">
              <label class=" text-left control-label">Subtype:</label>
              <input type="text" class="form-control" placeholder="Subtype" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle.subType"readonly >
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label class=" text-left control-label">Wheels:</label>
              <input type="text" class="form-control" placeholder="Wheels" ng-model="orderDetails.orderDtls[0].product.usrVehicle.vehicle.wheels" readonly>
            </div>
            <div class="col-sm-3" ng-class="{'has-error':addVehicle.regdNo.$error.required && addVehicle.regdNo.$touched}">
              <label class=" text-left control-label">Vehicle No.: *</label>
              <input type="text" class="form-control" name="regdNo" placeholder="Vehicle. No" ng-model="orderDetails.orderDtls[0].product.usrVehicle.registrationNumber" required >
              <span class="help-block" ng-show="addVehicle.regdNo.$error.required && addVehicle.regdNo.$touched">Enter Vehicle No.</span>
            </div>
            <div class="col-sm-3" ng-class="{'has-error':addVehicle.variant.$error.pattern && !addVehicle.variant.$pristine}">
              <label class=" text-left control-label">Variant:</label>
              <input type="text" class="form-control" placeholder="Variant" name="variant" ng-model="orderDetails.orderDtls[0].product.usrVehicle.variant" ng-pattern="/^[a-zA-Z ]*$/" >
              <span class="help-block" ng-show="addVehicle.variant.$error.pattern && !addVehicle.variant.$pristine">Please Enter  Valid Variant(Only Alphabets Allowed)</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label class=" text-left control-label">Model Version:</label>
              <input type="text" class="form-control" placeholder="Model Version" ng-model="orderDetails.orderDtls[0].product.usrVehicle.modelVersion" >
            </div>


            <div class="col-sm-3" ng-init="getMfgYear()">
              <label class=" text-left control-label">Manufacturing Year:</label>
              <!-- <input type="text" class="form-control" placeholder="Manufacturing Year" ng-model="orderDetails.orderDtls[0].product.usrVehicle.mfgYear" > -->
              <select class="form-control" name="manufacturing_year" ng-model="orderDetails.orderDtls[0].product.usrVehicle.mfgYear" ng-options="years as years for years in mfgYearArr">
                  <option value="">Manufacturing year</option>
              </select>
            </div>
            <div class="col-sm-3" ng-class="{'has-error':addVehicle.cc.$error.pattern && !addVehicle.cc.$pristine}">
              <label class=" text-left control-label">Cubic Capacity:</label>
              <input type="text" class="form-control" placeholder="Cubic Capacity" name="cc" ng-model="orderDetails.orderDtls[0].product.usrVehicle.cubicCapacity" ng-pattern="/^(0|[1-9][0-9]*)$/">
              <span class="help-block" ng-show="addVehicle.cc.$error.pattern && !addVehicle.cc.$pristine">Invalid Cubic capacity(Only numeric Allowed)</span>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-3" ng-class="{'has-error':addVehicle.insValid.$error.required && addVehicle.insValid.$touched}">
                <label class=" text-left control-label">Insurane Valid: </label>
                <!-- <input type="text" class="form-control" placeholder="Insurance Valid" ng-model="orderDetails.orderDtls[0].product.usrVehicle.insuranceValid" readonly> -->
                <select class="form-control" name="insValid" ng-options="insuranceValid.key as insuranceValid.value for insuranceValid in orderDetails.insuranceValidArr" ng-model="orderDetails.orderDtls[0].product.usrVehicle.insuranceValid" >
                  <option value="">Validity of insurance</option>
                  <!-- <option ng-value="true">Yes</option>
                    <option ng-value="false">No</option> -->
                </select>
                <!-- <span class="help-block" ng-show="addVehicle.insValid.$error.required && addVehicle.insValid.$touched">Insurance status required</span> -->
            </div>
              <div class="col-sm-3" ng-if="orderDetails.orderDtls[0].product.usrVehicle.insuranceValid=='true'">
                <label class=" text-left control-label">Insurance Type:</label>
                <!-- <input type="text" class="form-control" placeholder="Insurance Type" ng-model="orderDetails.orderDtls[0].product.usrVehicle.insuranceType" readonly> -->
                <select class="form-control" ng-model="orderDetails.orderDtls[0].product.usrVehicle.insuranceType" ng-options="insurance as insurance for insurance in orderDetails.insuranceTypeArr" />
              </div>
            <div class="col-sm-3" ng-controller="DatePickerCtrl" ng-if="orderDetails.orderDtls[0].product.usrVehicle.insuranceValid=='true'">
              <label class=" text-left control-label">Expiry Date:</label>
              <!-- <input type="text" class="form-control" placeholder="Expiry Date" ng-model="orderDetails.orderDtls[0].product.usrVehicle.expiryDate"> -->
              <input type="text" class="form-control" name="expDate" placeholder="01 Jan, 2017"  ng-model="orderDetails.orderDtls[0].product.usrVehicle.expiryDate" datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions"  is-open="opened"  max-date="maxDate2" date-disabled="disabled(date, mode)" ng-click="open1($event)" close-text="Close"/>
            </div>
          </div>
          <button type="submit" ng-disabled ="addVehicle.$invalid" ng-click="updateOrderDetails(orderDetails)"  class="btn btn-info pull-right">Add vehicle </button>
        </form>
        </div>
      </div>
      <!-- ticket status and assigned to service engineer -->
      <div class="box box-success">
        <fieldset  >
        <div class="box-header with-border">
          <h3 class="box-title">Assign Part:</h3>
          <button type="button"  class="btn btn-primary pull-right" ng-disabled="orderDetails.requestStatus!='RESOLVED'" ng-click="feedbackModal()">
            <i class="fa fa-plus"></i> Take Feedback
          </button>

        </div>
        <div class="box-body">
          <div class="row">
              <div class="col-sm-6" ng-if="(orderDetails.locationDetails) && (orderDetails.locationDetails!='No Address available')">
                <label class=" text-left control-label"> Order Location:</label>
                <input type="text" class="form-control" placeholder="Location" ng-model="orderDetails.locationDetails" readonly>
              </div>
              <div class="col-sm-6" ng-if="(!orderDetails.locationDetails)||(orderDetails.locationDetails =='No Address available')">
                  <label class=" text-left control-label"> Order Location:</label>
                  <input  class="form-control" placeholder="Location" ng-model="location"
                  places-auto-complete size=80
                  component-restrictions="{country:'in'}"
                  on-place-changed="placeChanged()" >
                </div>
               <div class="col-md-1 col-sm-1"><i class="fa fa-fw fa-map-marker fa-2x marker" ng-click="openMap()"></i></div>

              <div class="col-sm-3">
                <label class=" text-left control-label">Request Status:</label>
                <select class="form-control" name="ticket_status" ng-model="orderDetails.status">
                      <!-- <option value="" ng-selected><i class="fa fa-sort-desc">Status</i></option> -->
                      <!-- <option ng-value="statuses.label" ng-repeat="statuses in ticket.statuses" ng-disabled="statuses.disable">{{statuses.label}}</option> -->
                      <option value="">Give Status</option>
                      <option value="CREATED" ng-if="orderDetails.requestStatus=='REJECTED'">CREATED</option>
                      <option value="EMERGENCY" ng-if="false">EMERGENCY</option>
                      <option value="WIP" ng-if="false">WIP</option>
                      <option value="REJECTED" ng-if="orderDetails.requestStatus=='WIP'">REJECTED</option>
                      <option value="RESOLVED" ng-if="false">RESOLVED</option>
                      <option value="CLOSED" ng-if="orderDetails.requestStatus=='RESOLVED'">CLOSED</option>
                      <option value="CANCELED" ng-if="orderDetails.requestStatus=='CREATED' || orderDetails.requestStatus=='EMERGENCY' ||
                        orderDetails.requestStatus=='REJECTED'">CANCELLED</option>


                  </select>
              </div>
          </div>
          <div class="row">
            <ng-form name="statusUpdateForm">
              <div class="col-sm-3">
                <label class=" text-left control-label">State of Engineer:</label>
                <select class="form-control" name="stateEngg" ng-model="orderDetails.state" ng-change="filterEngineer(orderDetails.state,orderDetails.district)" ng-options="state as state.stateCd for state in stateList">
                  <option value="">Choose State</option>
                </select>
              </div>
              <div class="col-sm-3">
                <label class=" text-left control-label">District of Engineer:</label>
                <select class="form-control" name="districtEngg" ng-model="orderDetails.district" ng-change="filterEngineer(orderDetails.state,orderDetails.district)" ng-options="district as district for district in orderDetails.state.districts">
                  <option value="">Choose District</option>
                </select>
              </div>
            <div class="col-sm-3" ng-init="getEngineerList()">
                <label class=" text-left control-label">Assign To:</label>
                  <select class="form-control" name="engg" ng-model="orderDetails.assignedToUserId"
                   ng-disabled="orderDetails.requestStatus !='CREATED'&& orderDetails.requestStatus!='EMERGENCY'&&orderDetails.requestStatus!='REJECTED' "
                  ng-options="engineer.userId as engineer.firstName+' '+engineer.middleName +' '+engineer.lastName for engineer in engineersList">
                  <option value="">Select Engineer</option>
                </select>
              </div>
              <div class="col-sm-3">
                <br>

                  <button type="submit" ng-click="updateStatus(statusUpdateForm)" 
                     class="btn btn-info pull-right">Update Status</button>
              </div>
              </ng-form>
          </div>
        </div>
      </fieldset>
        <div class="box-footer m-t-50">
            <button type="submit" ng-disabled ="addVehicle.$invalid" ng-click="updateOrderDetails(orderDetails)"  class="btn btn-info pull-right">Update Order</button>
          <button type="submit" class="btn btn-default" ui-sref="ticketList({ status :'ALL'})">Back</button>

        </div>

      </div>
    </div>
  </div>
</section>
