<section class="content-header m-b-40">
        <h1>
          Ticket System
    
        </h1>
        <div id="preloader" ng-if="showPreloader">
            <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
          </div>
    </section>
    <section  ng-init="getTickets()">
      <div class="row">
        <div class="col-md-10 col-xs-12 col-md-offset-1">
          <div class="row">
            <div class="col-xs-12">
              <div class="box box-info">
                <div class="box-body over-x-sc">
                  <div class="table-responsive">
                    <table ng-table="ticketData" class="table table-bordered table-hover">
                      <tr ng-repeat="row in $data | orderBy :'-ticketId'" >
                        <td data-title="'User Name'" filter="{ 'userName': 'text'}"  sortable="'userName'">{{row.userName}}</td>
                        <td data-title="'Contact No.'" filter="{ 'contactNbr': 'text'}" sortable="'contactNbr'">{{row.contactNbr}}</td>
                        <td data-title="'Ticket Id'" filter="{ 'ticketId': 'text'}" sortable="'ticketId'">{{row.ticketId}}</td>
                        <td data-title="'Status'" filter="{ 'status': 'text'}" sortable="'status'">{{row.status}}</td>
                        <td data-title="'Action'">
                           <div class="btn-group">
                                <button type="button" class="btn btn-primary"><a href="" class="option-btn" ui-sref="ticketDetails(row)">Details</a>
                                </button>
                            </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
