<section class="content-header m-b-40">
    <h1>
      User Details (UserId-- ''{{user.userId}}'')

    </h1>
  </section>
  <section class="content" ng-init="getUserDetails()">
      <div class="row">
          <div class="col-sm-10 col-md-offset-1">
            <form class="form-horizontal" name="userUpdateForm">
                <div class="box box-info ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update Your Profile Here</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group has-feedback" ng-class="{'has-error':(userUpdateForm.fname.$touched && userUpdateForm.fname.$invalid) ||(userUpdateForm.fname.$error.pattern && !userUpdateForm.fname.$pristine)}">
                                    <label for="fname" class="col-sm-3 control-label">First Name *</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="fname" ng-model="user.firstName" class="form-control" placeholder="First Name" required ng-pattern="/^[a-zA-Z ]*$/">
                                        <span class="help-block" ng-show="userUpdateForm.fname.$error.required && userUpdateForm.fname.$touched">First Name is required</span>
                                        <span class="help-block" ng-show="userUpdateForm.fname.$error.pattern && !userUpdateForm.fname.$pristine">Please Enter Valid First Name(Only Alphabets Allowed)</span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback" ng-class="{'has-error':userUpdateForm.mname.$error.pattern && !userUpdateForm.mname.$pristine}">
                                    <label for="mname" class="col-sm-3 control-label">Middle Name:</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="mname" ng-model="user.middleName" class="form-control" placeholder="Middle Name"  ng-pattern="/^[a-zA-Z ]*$/">
                                        <!-- <span class="help-block" ng-show="userUpdateForm.mname.$error.required && userUpdateForm.mname.$touched">Middle Name is required</span> -->
                                        <span class="help-block" ng-show="userUpdateForm.mname.$error.pattern && !userUpdateForm.mname.$pristine">Please Enter Valid Middle Name(Only Alphabets Allowed)</span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback" ng-class="{'has-error':(userUpdateForm.lname.$touched && userUpdateForm.lname.$invalid) || (userUpdateForm.lname.$error.pattern && !userUpdateForm.lname.$pristine)}">
                                    <label  class="col-sm-3 control-label">Last Name *</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="lname" ng-model="user.lastName" class="form-control" placeholder="Name" required ng-pattern="/^[a-zA-Z ]*$/">
                                        <span class="help-block" ng-show="userUpdateForm.lname.$error.required && userUpdateForm.lname.$touched">Last Name is required</span>
                                        <span class="help-block" ng-show="userUpdateForm.lname.$error.pattern && !userUpdateForm.lname.$pristine">Please Enter Valid Last Name(Only Alphabets Allowed)</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{'has-error':(userUpdateForm.user_email.$touched && userUpdateForm.user_email.$invalid) || (userUpdateForm.user_email.$error.pattern && !userUpdateForm.user_email.$pristine)}">
                                            <label  class="col-sm-3 control-label">Email *</label>
                                    <div class="col-sm-9">
                                        <input type="email" name="user_email" ng-model="user.email" class="form-control" placeholder=" Email " required ng-pattern="/\S+@\S+\.\S+/">
                                        <span class="help-block" ng-show="userUpdateForm.user_email.$error.required && userUpdateForm.user_email.$touched">Email is required</span>
                                        <span class="help-block" ng-show="userUpdateForm.user_email.$error.pattern && !userUpdateForm.user_email.$pristine">Please Enter Valid Email</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error':userUpdateForm.gender.$error.required && userUpdateForm.gender.$touched }">
                                    <label for="gender" class="col-sm-3 control-label">Gender:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="gender" ng-model="user.gender" >
                                            <option value=""><i class="fa fa-sort-desc">Gender</i></option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                            <option value="O">Others</option>
                                        </select>
                                        <span class="help-block" ng-show="userUpdateForm.gender.$error.required && userUpdateForm.gender.$touched">Please select gender</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group has-feedback" ng-controller="DatePickerCtrl">
                                        <label for="lname" class="col-sm-3 control-label">DOB </label>
                                        <div class="col-sm-9">

                                            <input type="text" class="form-control" name="dob" placeholder="01 Jan, 2017" ng-model="user.dob" datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions"  is-open="opened"  max-date="dt" date-disabled="disabled(date, mode)" ng-click="open1($event)" close-text="Close"/>
                                            <!-- <span class="help-block" ng-show="userUpdateForm.dob.$error.required && userUpdateForm.dob.$touched">DOB is required</span> -->
                                        </div>
                                </div>
                                <div class="form-group has-feedback" ng-class="{'has-error':userUpdateForm.mobile.$touched && userUpdateForm.mobile.$invalid}">
                                    <label for="pass" class="col-sm-3 control-label">Mobile *</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="mobile" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx" ng-model="user.contactNbr" required>
                                        <!-- <input type="text" class="form-control" name="mobile" ng-model="user.mobile" placeholder="Mobile" required ng-pattern="/^[0-9]{10,10}$/"> -->
                                        <span class="help-block" ng-show="userUpdateForm.mobile.$error.required && userUpdateForm.mobile.$touched">Mobile is required</span>
                                    </div>
                                </div>
                                <div class="form-group has-feedback" ng-class="{'has-error':userUpdateForm.telephone.$touched && userUpdateForm.telephone.$invalid}">
                                    <label for="pass" class="col-sm-3 control-label">Telephone:</label>
                                    <div class="col-sm-9">
                                        <!-- <input type="text" class="form-control" name="telephone" ng-model="user.telephone" placeholder="Telephone(optional)" ng-pattern="/^[0-9]{10,10}$/"> -->
                                        <input type="text" class="form-control" name="telephone" ui-mask="999-999-9999" placeholder="xxx-xxx-xxxx" ng-model="user.alternateContactNbr">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="col-sm-3 control-label">Marital Status:</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="marital_status" ng-model="user.maritalStatus">
                                            <option value=""><i class="fa fa-sort-desc">MARITAL STATUS</i></option>
                                            <option value="1">Married</option>
                                            <option value="0">Unmarried</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"  ng-if="user.maritalStatus =='1'" ng-controller="DatePickerCtrl">
                                    <label class="col-sm-3 control-label">Anniversary date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="anniversary" placeholder="01 Jan, 2017" ng-model="user.anniversaryDate" 
                                        datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions"  is-open="opened"  max-date="maxDate2" date-disabled="disabled(date, mode)" ng-click="open1($event)" close-text="Close"/>
                                        <!-- <span class="help-block" ng-show="userUpdateForm.dob.$error.required && userUpdateForm.dob.$touched">DOB is required</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-success " ng-if="user.roles.indexOf('ROLE_ENGINEER') > -1">
                    <div class="box-header with-border">
                        <h3 class="box-title">Service Area Details</h3>
                    </div>
                    <!-- <form id="serviceAreaForm" name="serviceAreaForm"></form> -->
                    <div class="box-body">
                     
                        <div class="row"> 
                            <div class="col-sm-3" ng-class="{'has-error':userUpdateForm.state.$touched && userUpdateForm.state.$invalid}">
                                <label class=" text-left control-label">State *</label>
                                <!-- <input type="text" class="form-control" placeholder="User Name" ng-model="user.serviceArea.state" > -->
                                <select class="form-control" name="state"  ng-model="user.serviceArea.state" required ng-change="getDistrict(user.serviceArea.state)">
                                        <option value="">Choose State*</option>
                                        <option value="{{state.stateCd}}" ng-repeat="state in stateList">{{state.stateCd}}</option>
                                    </select>
                                    <span class="help-block" ng-show="userUpdateForm.state.$error.required && userUpdateForm.state.$touched"> cannot be empty</span>
                            </div>
                            <div class="col-sm-3" ng-class="{'has-error':userUpdateForm.district.$touched && userUpdateForm.district.$invalid}">
                                <label class=" text-left control-label">District *</label>
                                <!-- <input type="text" class="form-control" placeholder="District" ng-model="user.serviceArea.district"> -->
                                <select class="form-control " name="district" ng-model="user.serviceArea.district" required>
                                    <option value="">Choose District *</option>
                                    <option value="{{districts}}" ng-repeat="districts in districtList track by $index">{{districts}}</option>
                                </select>
                                <span class="help-block" ng-show="userUpdateForm.district.$error.required && userUpdateForm.district.$touched"> cannot be empty</span>
                            </div>
                            <!-- <div class="col-sm-3">
                                <label class=" text-left control-label">User Id:</label>
                                <input type="text" class="form-control" placeholder="User Id" ng-model="orderDetails.userId" readonly>
                            </div> -->
                            <div class="col-sm-3" ng-class="{'has-error':(userUpdateForm.location.$touched && userUpdateForm.location.$invalid)||
                                    (userUpdateForm.location.$error.pattern && !userUpdateForm.location.$pristine)}">
                              <label class=" text-left control-label">Location *</label>
                              <input type="text" class="form-control" placeholder="Location" name="location"  ng-model="user.serviceArea.location" ng-pattern="/^[a-zA-Z ]*$/" required>
                              <span class="help-block" ng-show="userUpdateForm.location.$error.required && userUpdateForm.location.$touched"> cannot be empty</span>
                              <span class="help-block" ng-show="userUpdateForm.location.$error.pattern && !userUpdateForm.location.$pristine">Please Enter a Valid Location(Only Alphabets Allowed)</span>
                            </div>
                            <div class="col-sm-3" ng-class="{'has-error':(userUpdateForm.sublocation.$touched && userUpdateForm.sublocation.$invalid)||
                                        (userUpdateForm.sublocation.$error.pattern && !userUpdateForm.sublocation.$pristine)}">
                              <label class=" text-left control-label">SubLocation *</label>
                              <input type="text" class="form-control" placeholder="SubLocation" name="sublocation"  ng-model="user.serviceArea.subLocation" ng-pattern="/^[a-zA-Z ]*$/" required>
                              <span class="help-block" ng-show="userUpdateForm.sublocation.$error.required && userUpdateForm.sublocation.$touched"> cannot be empty</span>
                              <span class="help-block" ng-show="userUpdateForm.sublocation.$error.pattern && !userUpdateForm.sublocation.$pristine">Please Enter a Valid SubLocation(Only Alphabets Allowed)</span>
                            </div>
                            
                        </div>
                        <br>
                        <button type="submit" ng-disabled ="userUpdateForm.$invalid" ng-click="updateServiceArea()"  class="btn btn-info pull-right">Submit </button>
                    
                    </div>
                </div>
                <div class="box box-success " ng-repeat="address in user.address">
                    <div class="box-header with-border">
                        <h3 class="box-title">Adress: {{$index+1}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':userUpdateForm.houseNo.$touched && userUpdateForm.houseNo.$invalid}">
                                <input type="text" class="form-control" placeholder="House No " name="houseNo" ng-model="address.houseNbr" >
                                <span class="help-block" ng-show="userUpdateForm.houseNo.$error.required && userUpdateForm.houseNo.$touched"> cannot be empty</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':userUpdateForm.locality.$error.pattern && !userUpdateForm.locality.$pristine}">
                                <input type="text" class="form-control" placeholder="Locality/Street " name="locality" ng-model="address.locality" ng-pattern="/^[a-zA-Z ]*$/" >
                                <span class="help-block" ng-show="userUpdateForm.locality.$error.required && userUpdateForm.locality.$touched"> cannot be empty</span>
                                <span class="help-block" ng-show="userUpdateForm.locality.$error.pattern && !userUpdateForm.locality.$pristine">Please Enter a Valid Locality(Only Alphabets Allowed)</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':userUpdateForm.city.$error.pattern && !userUpdateForm.city.$pristine}">
                                <input type="text" class="form-control" placeholder="City" name="city" ng-model="address.city" ng-pattern="/^[a-zA-Z ]*$/" >
                                <span class="help-block" ng-show="userUpdateForm.city.$error.required && userUpdateForm.city.$touched"> cannot be empty</span>
                                <span class="help-block" ng-show="userUpdateForm.city.$error.pattern && !userUpdateForm.city.$pristine">Please Enter a Valid City(Only Alphabets Allowed)</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':userUpdateForm.state.$touched && userUpdateForm.state.$invalid}" ng-init="getAllStates(address)">
                                <select class="form-control" name="state" ng-model="address.stateObj" ng-options="state as state.stateCd for state in stateList"  >
                                    <!-- <option value="" ng-selected><i class="fa fa-sort-desc">State</i></option>
                                    <option ng-value="states.stateCd" ng-repeat="states in stateList" >{{states.stateCd}}</option> -->
                                </select>

                                <span class="help-block" ng-show="userUpdateForm.state.$error.required && userUpdateForm.state.$touched"> cannot be empty</span>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':userUpdateForm.district.$touched && userUpdateForm.district.$invalid}">
                                <select class="form-control" name="district" ng-model="address.district"  ng-options="district as district for district in address.stateObj.districts" >
                                    <!-- <option value="" ng-selected><i class="fa fa-sort-desc">District</i></option>
                                    <option ng-value="states.stateCd" ng-repeat="districts in districtList" >{{districts}}</option> -->
                                </select>
                                <span class="help-block" ng-show="userUpdateForm.district.$error.required && userUpdateForm.district.$touched"> cannot be empty</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':userUpdateForm.country.$touched && userUpdateForm.country.$invalid}">
                                <input type="text" class="form-control" placeholder="Country" name="country" ng-model="address.country" >
                                <span class="help-block" ng-show="userUpdateForm.country.$error.required && userUpdateForm.country.$touched"> cannot be empty</span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-class="{'has-error':userUpdateForm.pin.$touched && userUpdateForm.pin.$invalid}">
                                <input type="text" class="form-control" placeholder="000000" name="pin" ng-model="address.zip"  >
                                <span class="help-block" ng-show="userUpdateForm.pin.$error.required && userUpdateForm.pin.$touched">Please Enter Pin</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-info " ng-repeat="scheme in user.schemes">
                    <div class="box-header with-border">
                        <h3 class="box-title">Scheme Details: {{$index+1}}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                        <div class="col-sm-3">
                            <label class=" text-left control-label">Scheme Id:</label>
                            <input type="text" class="form-control" placeholder="Scheme Id" ng-model="scheme.schemeId" readonly>
                        </div>
                        <div class="col-sm-3">
                            <label class=" text-left control-label">Scheme Type:</label>
                            <input type="text" class="form-control" placeholder="Scheme Type" ng-model="scheme.schemeType" readonly>
                        </div>
                        <div class="col-sm-3">
                            <label class=" text-left control-label">Description:</label>
                            <input type="text" class="form-control" placeholder="Description" ng-model="scheme.description" readonly>
                        </div>
                        <div class="col-sm-3">
                            <label class=" text-left control-label">Price:</label>
                            <input type="text" class="form-control" placeholder="Price" ng-model="scheme.price" readonly>
                        </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class=" text-left control-label">Duration Left (in days):</label>
                                <input type="text" class="form-control" placeholder="Duration" ng-model="scheme.validityLeft" readonly>
                            </div>
                            <div class="col-sm-3">
                                    <label class=" text-left control-label">Subscription Date</label>
                                    <input type="text" class="form-control" placeholder="Subscription Date" ng-model="scheme.subscriptionDt" readonly>
                                </div>
                            <!-- <div class="col-sm-3">
                                <label class=" text-left control-label">Discount On Consumable:</label>
                                <input type="text" class="form-control" placeholder="Discount On Consumable" ng-model="scheme.discountOnConsumable" readonly>
                            </div>
                            <div class="col-sm-3">
                                <label class=" text-left control-label">Discount On Labour:</label>
                                <input type="text" class="form-control" placeholder="Discount On Labour" ng-model="scheme.discountOnLabour" readonly>
                            </div>
                            <div class="col-sm-3">
                                <label class=" text-left control-label">Discount On Spare Part:</label>
                                <input type="text" class="form-control" placeholder="Discount On Spare part" ng-model="scheme.discountOnSparePart" readonly>
                            </div> -->

                        </div>
                        <div class="col-sm-10 col-md-offset-1" style="padding-top :30px">
                        <div class="box box-success div-vehicle-details">
                            <div class="box-header with-border">
                                <h3 class="box-title">Scheme Service Details:</h3>

                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table  class="table table-bordered table-hover table-t-a-c" >
                                            <tr >
                                                <th>Service Id</th>
                                                <th>Service Description</th>
                                                <th>Free Usage</th>
                                                <th>Used</th>
                                            </tr>
                                            <tr ng-repeat="row in scheme.schemeServiceDtls" style="text-align:left">
                                                <td data-title="'Service Id'" >{{row.serviceId}}</td>
                                                <td data-title="'Service Description '">{{row.serviceDesc}}</td>
                                                <td data-title="' Free Usage'">{{row.freeUsage==99 ? "Unlimited":row.freeUsage}}</td>
                                                <td data-title="' Used'">{{row.used}}</td>
                                                

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

                <div class="box box-success div-vehicle-details">
                    <div class="box-header with-border">
                        <h3 class="box-title">Vechile Details:</h3>
                        <button type="button"  class="btn btn-success pull-right" ng-click="addVehicle()">
                            <i class="fa fa-plus"></i> Add new Vehicle
                        </button>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table ng-table="vehicleData" class="table table-bordered table-hover table-t-a-c">
                                    <tr ng-repeat="row in $data" style="text-align:center">
                                        <td data-title="'Sl No'" ng-class="{'not-covered':!row.isCover}">{{ $index + 1}}</td>
                                        <td data-title="' Make '">{{row.vehicle.make}}</td>
                                        <td data-title="' Model'">{{row.vehicle.models}}</td>
                                        <td data-title="' Regd.No'">{{row.registrationNumber}}</td>
                                        <td data-title="'Insurance Type'">{{row.insuranceType}}</td>
                                        <td data-title="'Action'">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success" ng-click="showVehicleDetails(row)">Details
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-info" ng-init="getOrderByUser()">
                    <div class="box-header with-border">
                        <h3 class="box-title">Order History</h3>
                    </div>
                    <div class="box-body">
                        <div class="row col-xs-10 col-md-10 col-md-offset-1">
                         <uib-tabset>
                            <uib-tab ng-repeat="orderlist in orderHistoryList" heading="{{orderlist.type}}">
                                <div class="col-sm-10 col-md-offset-1">
                                    <div class="table-responsive">
                                        <div ng-if="!orderlist.data.length" class="noData"> No data available </div>
                                        <table  class="table table-bordered table-hover table-t-a-c" ng-if="orderlist.data.length">
                                            <tr >
                                                <th>Order Id</th>
                                                <th>Request Status</th>
                                                <th>Service Date</th>
                                                <th>Total Price</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr ng-repeat="row in orderlist.data" style="text-align:left">
                                                <td  >{{row.orderId}}</td>
                                                <td >{{row.requestStatus}}</td>
                                                <td >{{row.serviceDate}}</td>
                                                <td >{{row.totalPrice}}</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-success"><a href="" class="option-btn" ui-sref="ticketDetails(row)" >Details</a>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </uib-tab>
                       
                          </uib-tabset>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-default"  ui-sref="user-profile">Back</button>
                    <button type="submit"  class="btn btn-info pull-right" ng-click="profileUpdate(userUpdateForm)">Submit</button>
              </div>
            </form>
        </div>
    </div>
</section>


